.group-child {
  position: absolute;
  top: 0;
  left: 0.44px;
  background-color: var(--color-black);
  width: 1259.56px;
  height: 766px;
}
.bxbx-skip-next-icon,
.ionshuffle-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.bxbx-skip-next-icon {
  width: 24px;
  height: 24px;
}
.frame-child {
  position: relative;
  width: 32px;
  height: 32px;
}
.akar-iconsarrow-repeat {
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.ionshuffle-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.div {
  position: absolute;
  top: 2.5px;
  left: 0;
}
.component-32-child {
  position: absolute;
  top: 10.5px;
  left: 34px;
  width: 482px;
  height: 4px;
}
.div1 {
  position: absolute;
  top: 2.5px;
  left: 523px;
}
.component-32 {
  position: relative;
  width: 549px;
  height: 24px;
}
.frame-parent {
  position: absolute;
  top: 8px;
  left: 403px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.component-29-icon {
  position: relative;
  width: 18px;
  height: 14.5px;
}
.component-30-icon {
  position: relative;
  width: 25.33px;
  height: 19px;
}
.component-31-child {
  position: relative;
  width: 121px;
  height: 20px;
}
.component-29-parent {
  position: absolute;
  top: 26px;
  left: 1030px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.div2,
.wrapper {
  position: absolute;
}
.div2 {
  top: 4px;
  left: 5px;
  line-height: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 8px;
  height: 9px;
}
.wrapper {
  top: 5px;
  left: 53px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-300);
  width: 17px;
  height: 17px;
  overflow: hidden;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.screenshot-2023-10-08-233509-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 349px;
  height: 348px;
  object-fit: cover;
}
.frame-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  overflow: hidden;
  background-image: url(./public/frame-172@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rpt-groovie-ft,
.xtc-xch-thm {
  position: relative;
  line-height: 18px;
}
.rpt-groovie-ft {
  font-size: var(--font-size-smi);
  color: var(--color-darkgray-100);
}
.xtc-xch-thm-cht-remix-parent {
  position: absolute;
  top: 10px;
  left: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
}
.bxbxs-heart-icon,
.frame-group {
  position: absolute;
  top: 18px;
  left: 286px;
  width: 24px;
  height: 24px;
}
.frame-group {
  top: 16px;
  left: 14px;
  width: 310px;
  height: 56px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.component-38,
.component-38-wrapper {
  position: absolute;
  left: 0;
  width: 1260px;
  height: 81px;
}
.component-38 {
  top: 0;
  background-color: #181818;
}
.component-38-wrapper {
  top: 745px;
}
.vector-icon {
  position: relative;
  width: 127.87px;
  height: 38.88px;
}
.spotify-logo {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mini);
}
.home-icon,
.search-icon {
  position: relative;
  width: 24px;
  height: 24px;
}
.search-icon {
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.library-child {
  position: relative;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 18px;
}
.library-inner {
  position: relative;
  width: 17px;
  height: 0;
}
.library {
  width: 24px;
  height: 24px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home,
.text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs) 0;
}
.home {
  border-radius: var(--br-9xs);
  background-color: var(--color-black);
  width: 225px;
  height: 40px;
  align-items: center;
  padding: 0 0 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.home-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
}
.search {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.home2 {
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  width: 225px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-base);
  color: var(--color-white);
}
.library-child2 {
  position: relative;
  border-right: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 1px;
  height: 18px;
}
.library2 {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div3 {
  position: absolute;
  top: 3px;
  left: 6px;
  line-height: 18px;
  font-weight: 600;
}
.heart-wrapper,
.text3 {
  display: flex;
  flex-direction: row;
}
.heart-wrapper {
  border-radius: var(--br-12xs);
  background-color: var(--color-darkgray-200);
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}
.text3 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs) 0;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-100);
}
.heart-container,
.home4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home4 {
  border-radius: var(--br-9xs);
  background-color: var(--color-black);
  width: 225px;
  height: 40px;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-base);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.heart-container {
  background: linear-gradient(135.6deg, #3010a3 29.15%, #8ba099);
  width: 24px;
  height: 24px;
  justify-content: center;
}
.nav-icons {
  position: relative;
  border-radius: var(--br-11xs);
  width: 24px;
  height: 24px;
}
.frame-item {
  position: relative;
  border-top: 0.5px solid var(--color-darkgray-200);
  box-sizing: border-box;
  width: 225.5px;
  height: 0.5px;
}
.frame-parent1,
.frame-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-parent1 {
  gap: var(--gap-4xl);
}
.spotify-logo-parent {
  display: none;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.component-9,
.component-9-parent,
.spotify-logo-parent {
  align-items: flex-start;
  justify-content: flex-start;
}
.component-9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xs) var(--padding-8xs) 0;
}
.component-9-parent {
  background-color: var(--color-black);
  width: 225px;
  height: 406px;
  overflow-y: auto;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-smi);
}
.frame-inner {
  position: relative;
  border-radius: var(--br-lgi);
  width: 19px;
  height: 19px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent3 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mini);
  gap: var(--gap-4xs);
}
.frame-div,
.heart-frame {
  position: absolute;
  display: flex;
}
.frame-div {
  height: 78.93%;
  width: 99.78%;
  top: 21.07%;
  right: 0.19%;
  bottom: 0;
  left: 0.03%;
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-gray-200);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) var(--padding-3xs) var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}
.heart-frame {
  top: 261px;
  left: 9.32px;
  background: linear-gradient(135.6deg, #3010a3 29.15%, #8ba099);
  width: 41.08px;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.liked-songs1 {
  position: absolute;
  top: 268px;
  left: 71.96px;
  line-height: 18px;
  color: var(--color-white);
  display: inline-block;
  width: 71.89px;
}
.playlists,
.playlists-wrapper {
  position: absolute;
  width: 61.62px;
}
.playlists {
  top: 0;
  left: 0;
  line-height: 18px;
  display: inline-block;
}
.playlists-wrapper {
  top: 282px;
  left: 71.96px;
  height: 18px;
  font-size: var(--font-size-3xs);
}
.billie-eilish,
.happier-than-ever {
  position: absolute;
  line-height: 18px;
  display: inline-block;
}
.happier-than-ever {
  top: 328px;
  left: 71.96px;
  color: var(--color-white);
  width: 111.94px;
}
.billie-eilish {
  top: 0;
  left: 0;
  width: 50.32px;
}
.billie-eilish-wrapper {
  position: absolute;
  top: 342px;
  left: 71.96px;
  width: 50.32px;
  height: 18px;
  font-size: var(--font-size-3xs);
}
.container {
  position: absolute;
  top: 24.5px;
  left: 215px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-300);
  width: 17px;
  height: 17px;
  overflow: hidden;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 20.28px);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.frame-parent4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-image: url(./public/frame-176@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-wrapper,
.group-div {
  position: absolute;
  height: 4.7%;
  width: 16.49%;
  top: 67.02%;
  right: 79.72%;
  bottom: 28.28%;
  left: 3.79%;
  color: var(--color-white);
}
.group-div {
  top: 75.26%;
  bottom: 20.04%;
}
.frame-parent6,
.frame-wrapper2 {
  position: absolute;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-parent6 {
  height: 4.7%;
  width: 16.49%;
  top: 84.16%;
  right: 79.72%;
  bottom: 11.14%;
  left: 3.79%;
  background-image: url(./public/frame-176@3x.png);
  color: var(--color-white);
}
.frame-wrapper2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(./public/frame-1761@3x.png);
}
.frame-wrapper1,
.happier-than-ever1 {
  position: absolute;
  color: var(--color-white);
}
.frame-wrapper1 {
  height: 4.7%;
  width: 16.49%;
  top: 58.38%;
  right: 79.72%;
  bottom: 36.92%;
  left: 3.79%;
}
.happier-than-ever1 {
  top: 517px;
  left: 71.96px;
  line-height: 18px;
  display: inline-block;
  width: 111.94px;
}
.billie-eilish-container {
  position: absolute;
  top: 531px;
  left: 71.96px;
  width: 50.32px;
  height: 18px;
  font-size: var(--font-size-3xs);
}
.snap {
  position: absolute;
  top: 647px;
  left: 71.96px;
  line-height: 18px;
  color: var(--color-white);
  display: inline-block;
  width: 31.84px;
}
.rosa-linn,
.rosa-linn-wrapper {
  position: absolute;
  width: 48.27px;
}
.rosa-linn {
  top: 0;
  left: 0;
  line-height: 18px;
  display: inline-block;
}
.rosa-linn-wrapper {
  top: 661px;
  left: 71.96px;
  height: 18px;
  font-size: var(--font-size-3xs);
}
.kali-uchis,
.moonlight {
  position: absolute;
  line-height: 18px;
  display: inline-block;
}
.moonlight {
  top: 711px;
  left: 71.96px;
  color: var(--color-white);
  width: 61.62px;
}
.kali-uchis {
  top: 0;
  left: 0;
  width: 49.29px;
}
.kali-uchis-wrapper {
  position: absolute;
  top: 725px;
  left: 71.96px;
  width: 49.29px;
  height: 18px;
  font-size: var(--font-size-3xs);
}
.see-you-again,
.tyler-th-creator {
  position: absolute;
  line-height: 18px;
  display: inline-block;
}
.see-you-again {
  top: 580px;
  left: 71.96px;
  color: var(--color-white);
  width: 125.29px;
}
.tyler-th-creator {
  top: 0;
  left: 0;
  width: 136.59px;
}
.tyler-th-creator-kali-uchis-wrapper {
  position: absolute;
  top: 594px;
  left: 71.96px;
  width: 136.59px;
  height: 18px;
  font-size: var(--font-size-3xs);
}
.frame-wrapper4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-image: url(./public/frame-1762@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-wrapper3,
.happier-than-ever2 {
  position: absolute;
  color: var(--color-white);
}
.frame-wrapper3 {
  height: 4.7%;
  width: 16.49%;
  top: 50.65%;
  right: 79.3%;
  bottom: 44.65%;
  left: 4.21%;
}
.happier-than-ever2 {
  top: 454px;
  left: 71.96px;
  line-height: 18px;
  display: inline-block;
  width: 111.94px;
}
.billie-eilish-frame {
  position: absolute;
  top: 468px;
  left: 71.96px;
  width: 50.32px;
  height: 18px;
  font-size: var(--font-size-3xs);
}
.frame-wrapper5,
.happier-than-ever3 {
  position: absolute;
  color: var(--color-white);
}
.frame-wrapper5 {
  height: 4.7%;
  width: 16.49%;
  top: 42.93%;
  right: 79.72%;
  bottom: 52.37%;
  left: 3.79%;
}
.happier-than-ever3 {
  top: 391px;
  left: 71.96px;
  line-height: 18px;
  display: inline-block;
  width: 111.94px;
}
.billie-eilish-wrapper1 {
  position: absolute;
  top: 405px;
  left: 71.96px;
  width: 50.32px;
  height: 18px;
  font-size: var(--font-size-3xs);
}
.frame-parent7,
.group-item {
  position: absolute;
  top: 0;
  left: 24.22px;
  width: 186.51px;
  height: 48px;
}
.frame-parent7 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) var(--padding-3xs) var(--padding-3xs);
  box-sizing: border-box;
}
.vector-icon2,
.vector-icon3 {
  position: absolute;
  height: 17.7%;
  width: 7.8%;
  top: 60.08%;
  right: 86.06%;
  bottom: 22.22%;
  left: 6.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon3 {
  height: 6.39%;
  width: 2.71%;
  top: 73.34%;
  right: 85.18%;
  bottom: 20.28%;
  left: 12.1%;
}
.search2 {
  position: absolute;
  top: 56.37px;
  left: 61.7px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 54.39px;
}
.vector-icon4,
.vector-icon5 {
  position: absolute;
  height: 21.58%;
  width: 8.67%;
  top: 19.31%;
  right: 85.18%;
  bottom: 59.11%;
  left: 6.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon5 {
  height: 11.87%;
  width: 3.43%;
  top: 29.02%;
  right: 87.8%;
  left: 8.76%;
}
.home14 {
  position: absolute;
  top: 18.37px;
  left: 61.7px;
  line-height: 18px;
  display: inline-block;
  color: var(--color-white);
  width: 46.77px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.instance-group {
  position: absolute;
  height: 12.1%;
  width: 100%;
  top: 7.67%;
  right: 0;
  bottom: 80.22%;
  left: 0;
  font-size: var(--font-size-sm);
}
.library-child34 {
  position: relative;
  width: 8.56px;
  height: 15.63px;
}
.home15 {
  position: absolute;
  height: 4.7%;
  width: 89.05%;
  top: 21.19%;
  right: 9.71%;
  bottom: 74.11%;
  left: 1.24%;
  border-radius: var(--br-sm);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-base);
  font-size: var(--font-size-sm);
}
.group-child1,
.group-inner,
.rectangle-div {
  position: absolute;
  height: 2.58%;
  width: 19.89%;
  top: 26%;
  right: 76.25%;
  bottom: 71.41%;
  left: 3.86%;
  border-radius: var(--br-5xs);
  background-color: var(--color-dimgray);
}
.group-child1,
.rectangle-div {
  width: 22.16%;
  right: 52.74%;
  left: 25.11%;
}
.group-child1 {
  right: 27.87%;
  left: 49.97%;
}
.albums,
.artists,
.playlists1 {
  position: absolute;
  height: 2.11%;
  width: 23.06%;
  top: 26.24%;
  left: 52.24%;
  font-size: var(--font-size-3xs);
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.artists,
.playlists1 {
  left: 27.82%;
}
.artists {
  width: 19.89%;
  left: 6.57%;
}
.group-child2,
.rectangle-wrapper {
  position: absolute;
  width: 41.08px;
  height: 40px;
}
.group-child2 {
  top: 0;
  left: calc(50% - 20.54px);
  object-fit: cover;
}
.rectangle-wrapper {
  top: 705px;
  left: calc(50% - 113.67px);
}
.songs {
  position: absolute;
  height: 2.11%;
  width: 35.64%;
  top: 37.04%;
  left: 55.84%;
  font-size: var(--font-size-3xs);
  line-height: 18px;
  display: inline-block;
}
.ellipse-div {
  position: absolute;
  height: 0.35%;
  width: 1.24%;
  top: 38.1%;
  right: 49.89%;
  bottom: 61.55%;
  left: 48.88%;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.instance-parent {
  position: absolute;
  height: 92.49%;
  width: 19.52%;
  top: 0;
  right: 79.7%;
  bottom: 7.51%;
  left: 0.78%;
  font-family: var(--font-poppins);
}
.group-container,
.group-icon {
  position: absolute;
  top: 12px;
  left: 0;
  width: 1260px;
  height: 826px;
}
.group-icon {
  height: 42.5%;
  width: 1.47%;
  top: 7.5%;
  right: 10.17%;
  bottom: 50%;
  left: 88.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div12 {
  position: absolute;
  top: 18px;
  left: 15px;
  line-height: 18px;
  font-weight: 500;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.wrapper5 {
  position: relative;
  width: 15px;
  height: 18px;
  color: #939393;
}
.parent,
.search-parent,
.upgrade-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.parent {
  top: 6px;
  left: 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-4xl);
}
.search-parent,
.upgrade-wrapper {
  box-sizing: border-box;
  overflow: hidden;
  padding: var(--padding-3xs);
}
.search-parent {
  top: 0;
  left: 65px;
  border-radius: 35px;
  background-color: var(--color-white);
  width: 364px;
  height: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
  color: #757575;
}
.upgrade-wrapper {
  top: 3px;
  left: 761px;
  border-radius: var(--br-10xl);
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  width: 92px;
  height: 16px;
  align-items: center;
  justify-content: center;
}
.vector-icon6 {
  position: relative;
  width: 13px;
  height: 13px;
}
.english,
.vector-parent {
  display: flex;
  align-items: center;
}
.english {
  position: relative;
  width: 55px;
  height: 17px;
  flex-shrink: 0;
}
.vector-parent {
  flex-direction: row;
  justify-content: flex-start;
  gap: 3px;
}
.frame-wrapper8,
.group-child3 {
  position: absolute;
  border-radius: var(--br-10xl);
  overflow: hidden;
}
.frame-wrapper8 {
  top: 3px;
  left: 671px;
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 79px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-family: var(--font-gothic-a1);
}
.group-child3 {
  top: 2px;
  left: 890px;
  background-color: rgba(255, 255, 255, 0.16);
  width: 88px;
  height: 18px;
}
.group-parent2,
.group-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-wrapper {
  width: 102.32%;
  right: -2.32%;
}
.polygon-icon {
  position: absolute;
  top: 8px;
  left: 962px;
  width: 10px;
  height: 5px;
}
.frame-wrapper7,
.group-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 955.81px;
  height: 40px;
}
.frame-wrapper7 {
  top: 12px;
  left: 271.5px;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1260px;
  height: 838px;
}
.group-parent {
  position: relative;
  width: 100%;
  height: 838px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray-100);
  font-family: var(--font-saira);
}
